/* HOME */
.home {
    text-align: center;
    margin-top: 20px;
}

.category {
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    text-align: left;
    padding: 10px;
}

.categoryTitle {
    font-size: 24px;
    margin: 0;
}

.categoryTitleUnderline {
    border-top: 2px solid #343a40;
    margin-bottom: 10px;
}

.categoryElement {
    padding: 10px;
    background: #e3e3e3;
}

.categoryElementUnderline {
    border-top: 1px solid #343a40;
}

.categoryElementText { color: #343a40; }
.categoryElementText:hover { color: #15171a; }

/* EXERCISE */
.exercise {
  display: flex;
}

/* DESCRIPTION */
.description {
  width: 40%;
  padding: 20px;
  background: #e3e3e3;
  height: max-content;
}

/* EDITOR */
.editorWrapper {
  width: 60%;
}

.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
  width: 100%;
  height: max-content;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.editorBottomArea {
  display: flex;
}

.editorLogArea {
  width: 100%;
  padding: 10px 25px;
}

.editorButton {
  float: right;
  background-color: #343a40;
  border: none;
  color: #cccccc;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
}

.editorButton:hover {
  background-color: #15171a;
}