.task {
    display: flex;
  }
  
.description {
    width: 40%;
    padding: 20px;
    background: #e3e3e3;
    height: max-content;
}

.editorWrapper {
    width: 60%;
}

.editorBottomArea {
    display: flex;
}