/* HOME */
.home {
    text-align: center;
    margin-top: 20px;
}

.category {
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    text-align: left;
    padding: 10px;
}

.categoryTitleArea {
    width: 100%;
    display: flex;
}

.categoryTitle {
    font-size: 24px;
    margin: 0;
    width: 100%;
}

.categoryTitle:hover {
    cursor: pointer;
}

.titleCaret {
    margin-top: 10px;
    cursor: pointer;
}

.categoryTitleUnderline {
    border-top: 2px solid #343a40;
    margin-bottom: 10px;
}

.categoryElement {
    padding: 10px;
    background: #e3e3e3;
}

.categoryElementUnderline {
    border-top: 1px solid #343a40;
}

.categoryElementText { color: #343a40; }
.categoryElementText:hover { color: #15171a; }